<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="home">
    <header
        class="bg-success d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <h2 class="text-light">Garden World</h2>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'Garden_World:homesite' %}" class="text-light nav-link px-2">Home</a></li>
            <li><a href="{% url 'Garden_World:new_crop' %}" class="text-light nav-link px-2">Registrar cultivo</a></li>
            <li><a href="{% url 'Garden_World:crop_list' %}" class="text-light nav-link px-2">Lista de cultivos</a></li>
        </ul>

        <div class="col-md-3 text-end mx-4">
            <button type="button" class="text-light btn btn-primary">
                <a class="active text-light" href="{% url 'Garden_World:logout' %}">Cerrar sesión</a>
            </button>
        </div>
    </header>

    {% if messages %}
    <div class="notification text-light">
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>

    {% endif %}

    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>