{% extends 'Garden_World/basetwo.html' %}
{% load static %}
{% block title %}Nuevo cultivo{% endblock %}
{% block content %}

<div class="container-sm text-left py-5 my-5">
    <div class="container my-5">
        <div class="p-5 rounded-3">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                    
                      <div class="difuminar col text-center rounded-3">
                        <div class="col text-center rounded-3 py-3">
                            <h1 class="index text-center text-body-emphasis">Registrar nuevo cultivo</h1>
                        </div>
                        <form class="form" method="post">
                            {% csrf_token %}
                            <div class="form-group ">
                                <label class="sr-only fs-6" for="form-first-name">Nombre del cultivo:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.title }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-email">Descripción:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.description }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Clima</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.weather }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Imagen del cultivo</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.image }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Cantidad:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.quantity }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Dificultad:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.dificulty }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Temporada:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.season }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Tipo de iluminación:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.illumination }}
                            </div>
                            <div class="form-group fs-6">
                                <label class="sr-only" for="form-password">Tipo de cultivo:</label>
                            </div>
                            <div class="form-group fs-6">
                                {{ form.type }}
                            </div>
                            <div class="form-group py-2">
                                <button type="submit" id="submit">Guardar datos</button>
                            </div>
                        </form>
                      </div>
                      <div class="col">
                        <img class="registro" src="{% static 'img/registro_cultivo.jpg' %}" alt="">
                      </div>
                    </div>
                  </div>
                
            </div>
        </div>
      </div>
</div>
{% endblock %}